<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('PlatformName')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-platformName" class="form-control" name="row[platformName]" type="text" value="{$row.platformName|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Logo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-logo" class="form-control" size="50" name="row[logo]" type="text" style="display: none" value="{$row.logo}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-logo" class="btn btn-danger plupload" data-input-id="c-logo" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-logo"><i class="fa fa-upload"></i> 上传</button></span>
                </div>
                <span class="msg-box n-right" for="c-logo"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-logo"></ul>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kefu')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-kefu" class="form-control" size="50" name="row[kefu]" type="text" style="display: none" value="{$row.kefu}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-kefu" class="btn btn-danger plupload" data-input-id="c-kefu" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-kefu"><i class="fa fa-upload"></i> 上传</button></span>
                </div>
                <span class="msg-box n-right" for="c-kefu"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-kefu"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('合同编号规则')}:</label>
        <div class="col-xs-12 col-sm-2">
            <span>各字段之间已"-"链接</span>
            {:build_radios('row[contractNo4]', ['0'=>__('No'), '1'=>__('Yes')], $row['contractNo4'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-2">
            <span>自定义描述（英文）</span>
            <input id="c-contractNo1" class="form-control" name="row[contractNo1]" type="text" value="{$row.contractNo1|htmlentities}">
        </div>

        <div class="col-xs-12 col-sm-2">
            <span>日期</span>
            {:build_select('row[contractNo2]', ['0'=>__('年月日'), '1'=>__('年月'), '2'=>__('年')], $row['contractNo2'])}
        </div>
        <div class="col-xs-12 col-sm-2">
            <span>流水号（位数）</span>
            {:build_select('row[contractNo3]', ['1'=>__('1位'), '2'=>__('2位'), '3'=>__('3位'), '4'=>__('4位'), '5'=>__('5位'), '6'=>__('6位'), '7'=>__('7位'), '8'=>__('8位'), '9'=>__('9位'), '10'=>__('10位')], $row['contractNo3'])}
        </div>

    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
