

<style>

    .image_box{position: relative;}
    .img_input{width: 100%;height: 100%;position: absolute;top:0;left:0;z-index: 1;opacity: 0;}
    .new_pay_success{width: 100%;}
    .new_pay_success .success_form .title0{
        width: 100%;
        text-align: center;
        background-color: #f5f5f5;
        border: 1px solid #ebebeb;
        font-size: 18px;
        color: #000;
        line-height: 50px;
        font-weight: bold;
        box-sizing: border-box;
    }
    .new_pay_success .success_form .title1{
        width: 160px;
        text-align: center;
    }
    .new_pay_success .success_form .two{
        width: 100%;
        display: flex;
    }
    .new_pay_success .success_form .text_h30{
        font-size: 14px;
        line-height: 40px;
        border: 1px solid #ebebeb;
        padding: 0 10px;
        box-sizing: border-box;
    }
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="new_pay_success">

        <div class="success_form" style="width: 600px;margin: 20px calc(50% - 300px); ">
            <div class="title0" style="width: 600px;">个人认证</div>
            <div class="title1" style="width:600px;height: 35px;font-size: 18px;line-height: 35px;font-weight: bolder;">手机扫描二维码进行个人认证</div>

            <div class="two" style="width: 600px;">
                <div class="title1 text_h30" style=" border-right:none;"></div>
                <div class="con1 text_h30" style="width: calc(100% - 162px);  border-left:none;">
                    <img src="{$url}">
                </div>

            </div>

        </div>
    </div>


</form>



