<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('InitiateType')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-initiateType" class="form-control" name="row[initiateType]" type="text" value="{$row.initiateType|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Initiate_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-initiate_id" data-rule="required" data-source="initiate/index" class="form-control selectpage" name="row[initiate_id]" type="text" value="{$row.initiate_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('ContractNo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contractNo" class="form-control" name="row[contractNo]" type="text" value="{$row.contractNo|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('ContractName')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contractName" class="form-control" name="row[contractName]" type="text" value="{$row.contractName|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('ExpireTime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-expireTime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[expireTime]" type="text" value="{:$row.expireTime?datetime($row.expireTime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('ContractFile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-contractFile" class="form-control" size="50" name="row[contractFile]" type="text" value="{$row.contractFile|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-contractFile" class="btn btn-danger faupload" data-input-id="c-contractFile" data-multiple="false" data-preview-id="p-contractFile"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-contractFile" class="btn btn-primary fachoose" data-input-id="c-contractFile" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-contractFile"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-contractFile"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Template_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-template_id" data-rule="required" data-source="template/index" class="form-control selectpage" name="row[template_id]" type="text" value="{$row.template_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-state" class="form-control" name="row[state]" type="number" value="{$row.state|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-type" class="form-control" name="row[type]" type="number" value="{$row.type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Template')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-template" class="form-control" name="row[template]" type="number" value="{$row.template|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('FlowId')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-flowId" class="form-control" name="row[flowId]" type="text" value="{$row.flowId|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('ShortUrl')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shortUrl" class="form-control" name="row[shortUrl]" type="text" value="{$row.shortUrl|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Url')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-url" class="form-control" name="row[url]" type="text" value="{$row.url|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('FileId')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fileId" class="form-control" name="row[fileId]" type="text" value="{$row.fileId|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Notes')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-notes" class="form-control" name="row[notes]" type="text" value="{$row.notes|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
