<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-heading">
        {:build_heading(null,FALSE)}
        <ul class="nav nav-tabs" data-field="state">

            <li class="active"><a href="" data-value="" data-toggle="tab" >全部</a></li>
            <li><a href="#t-0" data-value="1" data-toggle="tab">待签约</a></li>
            <li><a href="#t-1" data-value="1" data-toggle="tab">签约中</a></li>
            <li><a href="#t-2" data-value="2" data-toggle="tab">已签约</a></li>


        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
<!--                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('contract/add')?'':'hide'}" title="{:__('发起签约')}" ><i class="fa fa-plus"></i> {:__('发起签约')}</a>-->
<!--                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('contract/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>-->
<!--                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('contract/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>-->

<!--                        <a class="btn btn-success btn-recyclebin btn-dialog {:$auth->check('contract/recyclebin')?'':'hide'}" href="contract/recyclebin" title="{:__('Recycle bin')}"><i class="fa fa-recycle"></i> {:__('Recycle bin')}</a>-->
                        <a href="javascript:;" class="btn btn-success btn-batch  btn-disabled {:$auth->check('contract/batcharchive')?'':'hide'}" data-name="imports" title="{:__('归档')}" ><i class="fa fa-plus"></i> {:__('归档')}</a>

                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-show-export="false" data-show-toggle="false" data-show-columns="false" data-search="false"
                           data-operate-edit="{:$auth->check('contract/edit')}"
                           data-operate-del="{:$auth->check('contract/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
